<div *ngIf="mission" class="container">
    <h2>{{ mission.mission_name }} ({{ mission.launch_year }})</h2>
    <img [src]="mission.links.mission_patch_small" alt="Mission Patch" width="150" />
    <p><strong>Flight #:</strong> {{ mission.flight_number }}</p>
    <p><strong>Rocket:</strong> {{ mission.rocket.rocket_name }} - {{ mission.rocket.rocket_type }}</p>
    <p><strong>Details:</strong> {{ mission.details || 'No details available.' }}</p>
    <p>
      <strong>Links:</strong><br />
      <a *ngIf="mission.links.article_link" [href]="mission.links.article_link" target="_blank">Article</a><br />
      <a *ngIf="mission.links.wikipedia" [href]="mission.links.wikipedia" target="_blank">Wikipedia</a><br />
      <a *ngIf="mission.links.video_link" [href]="mission.links.video_link" target="_blank">Watch Video</a>
    </p>
</div>
